body{
    text-align: center;
    background-color: #d9d9d9;
}

.Cabeçalho{
    display: flex;
    text-align: center;
    background-color: #054f77;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    margin-top: -15px;
    margin-left: -20px;
    margin-right: -20px;
}

h1 {
    text-align: center;
    padding-top: 05px;
    padding-left: 10px
 };

.Logo_AL{
   max-width: 20px;
   height: 10px;
   padding-top: 10px;
   margin-left: 50px;
   border: 1px solid black;
};

.P_01 {
    text-align: center;
    font-size: 30px
};

.Texto{
    display: flex;
    text-align: center;
}

.Título_02{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.Palestrante{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.P_02{
    text-align: start;
    font-size: 20px;
    margin-left: 15px;
}

.P_03{
    text-align: start;
    font-size: 20px;
    margin-left: 15px;
}

.P_04{
    text-align: start;
    font-size: 20px;
    margin-left: 15px;
}

.P_05{
    text-align: start;
    font-size: 20px;
    margin-left: 15px;
}

.P_06{
    text-align: start;
    font-size: 20px;
    margin-left: 15px;
}

.P_07{
    text-align: start;
    font-size: 20px;
    margin-left: 15px;
}
 
.Bottom{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background-color: aquamarine;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 15px;
    border: 1px solid black;
}

.Voltar{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background-color: aquamarine;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 15px;
    border: 1px solid black;
}

.Imagem{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid black;
}


